@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:ital,wght@0,300;0,500;1,100&display=swap");
@import "./slider.css";

:root {
  /* Colores */
  --orchid-pink-color: #ffc8dd;
  --pale-purple-pantone: #f4e2ef;
  --english-violet: #4e2e60;
  --azure-color: #007ef5;
  --barbie-pink: #d60a8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--english-violet);
}

a:hover {
  color: var(--azure-color);
}

.seccion-titulo a:hover {
  color: var(--orchid-pink-color);
}

.subtitulo,
h3 {
  font-family: "Island Moments", cursive;
  color: var(--barbie-pink);
  font-weight: 400;
}

.subtitulo {
  font-size: 1.65rem;
}

hr {
  margin: 1px 0;
}